
<h1 class="fw-bold text-center">Our Sponsors</h1>
<h4 class="fw-bold text-center mb-4">2024-2025 Season</h4>

<div class="text-center">
    <div class="sponsor-separator">Government Partners</div>
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/gov-nlfd-logo.png")%> />
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/ACOA-logo-PSD-e1430182693344.png")%> />
</div>

<div class="text-center">
    <div class="sponsor-separator">Silver</div>
    <img class="img-fluid sponsor-logo" src="<%-FILE('/img/og/sponsors/pegnl-logo.svg')%>" />
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/bluedrop-logo.png")%> />
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/nl-hydro-logo.png")%> />
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/subc-logo.png")%> />
    <img class="img-fluid sponsor-logo" <%-IMAGE("sponsors/nasdaq-verafin-logo.png")%> />
</div>

<div class="text-center">
    <div class="sponsor-separator">Bronze</div>
    <img class="img-fluid sponsor-logo sm" <%-IMAGE("sponsors/orams-ready-mix-logo.png")%> />
    <img class="img-fluid sponsor-logo sm" <%-IMAGE("sponsors/ctsnl-logo.png")%> />
    <img class="img-fluid sponsor-logo sm" <%-IMAGE("sponsors/hi-point-industries-logo.png")%> />
</div>