<%- include("components/tri_image_banner", {
    image1: "sponsor_us/DSC2266.jpg", 
    image2: "sponsor_us/DSC2678.jpg", 
    image3: "sponsor_us/DSC2751.jpg",
    title1: "Help us foster the next generation of innovators and leaders.",
    title2: ""
})%>

<div class="container my-5">
    <h1 class="fw-bold">Your Support Provides Opportunities to Youth</h1>
    <p>We would not be able to provide the opportunities we do, without the generous support of our sponsors.
        From the materials the teams need to compete to the award plaques at the competition, the FIRST robotics 
        programs are an expensive endeavour. But the experience and skills the participants gain is well worth the cost.
        By sponsoring FIRST Newfoundland and Labrador, you are helping to provide thousands of students across the province
        the opportunity to explore STEM and discover their ambitions for their future careers. <b>81% of students</b> who participate
        in FIRST programs declare a major in a STEM field. 
    </p>

    <p>By their fourth year of college, FIRST alumni are more likely to be majoring in STEM fields than comparison group peers.</p>
    <div class="row mt-5">
        <div class="col col-xl-2  d-none d-xl-flex d-flex align-items-center justify-content-center">
            <img class="bi w-80" src="<%=FILE('/img/og/sponsor_us/bank2.svg')%>" />
        </div>
        <div class="col col-xl-10">
            <div class="row">
                <div class="col-md-6">
                    <p class="fw-bold">Declare a major in STEM (Science, Technology, Engineering, Math)</p>
                    <div class="my-3">
                        <p class="my-0 fst-italic">FIRST Alumni</p>
                        <div class="progress" style="height: 35px" aria-valuenow="81" aria-valuemax="100" aria-valuemin="0">
                            <div class="progress-bar bg-fll-red" style="width: 81%; font-size: 30px;">81%</div>
                        </div>
                    </div>
                    <div class="my-3">
                        <p class="my-0 fst-italic">Comparison Group</p>
                        <div class="progress" style="height: 35px" aria-valuenow="81" aria-valuemax="100" aria-valuemin="0">
                            <div class="progress-bar bg-fll-gray" style="width: 64%; font-size: 30px;">64%</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="fw-bold">Declare a major in Engineering or Computer Science</p>
                    <div class="my-3">
                        <p class="my-0 fst-italic">FIRST Alumni</p>
                        <div class="progress" style="height: 35px" aria-valuenow="81" aria-valuemax="100" aria-valuemin="0">
                            <div class="progress-bar bg-fll-red" style="width: 59%; font-size: 30px;">59%</div>
                        </div>
                    </div>
                    <div class="my-3">
                        <p class="my-0 fst-italic">Comparison Group</p>
                        <div class="progress" style="height: 35px" aria-valuenow="81" aria-valuemax="100" aria-valuemin="0">
                            <div class="progress-bar bg-fll-gray" style="width: 24%; font-size: 30px;">24%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="fst-italic text-center">Results from the <a href="https://www.firstinspires.org/about/impact">FIRST Global 2023 Longitudinal Study</a></p>
</div>
<div class="container my-5">
    <h1 class="fw-bold">The Impact of Your Sponsorship</h1>
    <div class="row">
        <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
                <img src="<%-IMAGE('sponsor_us/IMG_3921.JPG')%>" />
                <div class="card-body">
                    <h3 class="card-title"><b>$1500</b> - Provide an FTC Robot Kit</h3>
                    <p class="card-text">With a $1500 sponsorship, you are giving us the ability to provide a <b>new FTC team</b> with the <b>materials to participate</b> in
                        the FIRST Tech Challenge Competition. The result of this is a new school and up to <b>15 students</b> get the opportunity to
                        discover their passion for STEM and grow their skill sets.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
                <img src="<%-IMAGE('sponsor_us/DSC2251.jpg')%>" />
                <div class="card-body">
                    <h3 class="card-title"><b>$800</b> - Provide a LEGO Robot Kit</h3>
                    <p class="card-text">With a $800 sponsorship, you are giving us the ability to provide a new FLL team with a <b>robot kit</b> and <b>season materials</b>.
                        This allows another school and up to <b>10 students</b> to discover the field of robotics. Giving them the opportunity to discover their passion
                        for STEM and give them a headstart in their future STEM endeavours. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
                <img src="<%-IMAGE('sponsor_us/DSC3055.jpg')%>" />
                <div class="card-body">
                    <h3 class="card-title"><b>$2000</b> - Help a Team Travel to the Championships</h3>
                    <p class="card-text">With a $2000 sponsorship, you are giving us the ability to <b>support a team travelling</b> to the <b>Newfoundland and Labrador
                        Championship competition</b>. The cost of travel is one of the major barriers for students participating in extra-curricular events. We
                        provide travel stipends to teams who require overnight travel to participate in our provincial championship tournament.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container my-5">
    <h1 class="fw-bold">Sponsorship Benefits</h1>
    <div class="table-responsive-xl">
        <table class="table text-center">
            <thead>
                <tr class="h3">
                    <th scope="col" style="min-width: 300px;"></th>
                    <th scope="col">Bronze</th>
                    <th scope="col">Silver</th>
                    <th scope="col">Gold</th>
                    <th scope="col">Platinum</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active fw-bold h3">
                    <th scope="row"></td>
                    <td>$500+</td>
                    <td>$1,000+</td>
                    <td>$5,000+</td>
                    <td>$10,000+</td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Speaking time during opening or closing ceremonies</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Company Booth at the Championship Competition</th>
                    <td></td>
                    <td></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Company provided signage (banner or popup) displayed during competition</th>
                    <td></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Logo on shown during ceremonies and competition (size scales with sponsorship tier)</th>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Company logo on FIRST Newfoundland and Labrador website during the 2025-2026 season</th>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                    <td><i class="bi bi-check-circle-fill h3 color-fll-red"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container my-5">
    <link href="<%-FILE('/css/index.css')%>" rel="stylesheet"/>
    <%-include("components/current_sponsors")%>
</div>