<%-include("../fll_nav.ejs")%>

<div class="position-relative" style="height: 300px">
    <%-include("../../components/image_banner", {image: "fllchallenge/2024/2024_mat_overview.png", title: "FIRST LEGO League Challenge", subtitle: "2024-2025 SUBMERGED"})%>
</div>

<div class="container my-5">
    <h1 class="fw-bold">Season Materials</h1>
    <h3 class="fw-bold">Guide Books</h3>

    <div class="row">
        <div class="col-md-4 my-3 text-center">
            <img class="w-50 d-none d-md-inline" <%-IMAGE("fllchallenge/2024/submerged_tmg_cover.png")%>/>
            <br/>
            <a target="_blank" href="https://drive.google.com/file/d/1R2W2tTxkoVlc-4t9lQCBpZW-rrip18CQ/view?usp=sharing" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Team Meeting Guide <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col-md-4 my-3 text-center">
            <img class="w-50 d-none d-md-inline" <%-IMAGE("fllchallenge/2024/submerged_en_cover.png")%>/>
            <br/>
            <a target="_blank" href="https://drive.google.com/file/d/1uLiJ23GNpEffp9KLy98Dmb-4tzC67I8k/view?usp=sharing" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Engineering Notebook <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col-md-4 my-3 text-center">
            <img class="w-50 d-none d-md-inline" <%-IMAGE("fllchallenge/2024/submerged_rgr_cover.png")%>/>
            <br/>
            <a target="_blank" href="https://drive.google.com/file/d/1YiU5nA_-jkFcXs3soKHk9dGXjQRsD03P/view?usp=sharing" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Robot Game Rulebook <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
    </div>
</div>

<div class="container my-5">
    <h3 class="fw-bold">Judging and Scoring Materials</h3>
    <ul class="list-group">
        <li class="list-group-item ">
            <a target="_blank" href="https://drive.google.com/file/d/1ksGjOsNZcs4Z22W5noZIdUkkqpwd-QfB/view?usp=drive_link">Judging Session Flowchart</a>
        </li>
        <li class="list-group-item ">
            <a target="_blank" href="https://drive.google.com/file/d/1xAYK6LtEqxuqKdjCDDm0Y_uqC1pscT3Y/view?usp=drive_link">Judging Script and Questions</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" href="https://drive.google.com/file/d/1d4cgpH_dleAUjNWneAcr7vo88IL0oSEp/view?usp=drive_link">Judging Scoresheet</a>
        </li>
        <li class="list-group-item ">
            <a target="_blank" href="https://drive.google.com/file/d/1g34r026HRTepL1qSJoZrIZ7jiCVRkSww/view?usp=drive_link">Robot Game Scoresheet</a>
        </li>
    </ul>
</div>

<div class="container my-5">
    <h3 class="fw-bold">Additional Resources</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a target="_blank" href="https://drive.google.com/file/d/1CbpCu2TL4euOs3FRCQ9BfvjRHDRamtxn/view?usp=sharing">Welcome Letter</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" href="https://drive.google.com/file/d/100wsfR8R2rDSiL62D2e4dpbk8Z0Y-mSv/view?usp=sharing">Class Pack Guide</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" href="https://drive.google.com/drive/folders/1c33Nw6cv0fMU2bae4xaMk1Bye2gypWj8?usp=drive_link">Educator PowerPoint Slides</a>
        </li>
    </ul>
</div>

<div class="container my-5">
    <h3 class="fw-bold">Mission Model Building Instructions</h3>
    <table class="table">
        <thead>
            <th scope="col">Model Number</th>
            <th scope="col">Visual</th>
            <th scope="col">Text Only (BETA)</th>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Mission 1</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1FQfMOVIXKVH1bXWjJON4u6tpZQXYV99B/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1fk3ne2tAgjoGnuN03ueXlvgikmivJ3D4/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 2</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/11AXZeBlGos6Az-EHwowlTQ-8IZtzzkAw/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1VsLNKe8qzheGzGJoKuwIlCU6sP69Kck5/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 3</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1kz_jW88FIpaKdbytIkzoioB0erO5d8xp/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/12Wh80u40MAdh7r4X3QM4_2DhI43ku5mP/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 4</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1eVo08oHDbcEuFe7gAaHkMOrxHTw1sHQ-/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/10Uc_v8nKeHKZTbAwoUV0zle-z6KXWTI9/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 5</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1evMS6dAcyZ3TO9tlNtCzk--jPf6D2_0g/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1KuT9oa8AW5khxJ83uYc8pO4zKo_k8kUL/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 6</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/163SVY11nmcM1GrSmU-3JlGIvfxQuydEB/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1wahkUmCY_21p1FrnRenLbky-aqUKnJKv/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 7</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1Vuwru_HWTd4ACxfm3gJ3fgSJ3yTxgc0b/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1f4wyaYn_xAHvZHUMQzSP-_WvDgw-6nHF/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 8</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1PzLuS4GutoCJ2WBQHzcjRLTNSZ7rnUsY/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1BRQvCBWKpktFipT9iziZ9L4e2C9uNU_P/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 9</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1x79MgoMMczq6a3Q2cg3ToZq-eu2E8KpC/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1wAGMlJqbwtUYbn7ALQ1p__IKZSxHCR8k/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 10</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1hXyePgeI6ULBp4Vf_Jdc8-2jNqzq1eGg/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1DPundCXLOK7Hz5Uo6Gy-Q5ZOsc7QnJkt/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 11</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1KNLDzW3ZR5cx5gmc_XRNgm_XMxSzMQIt/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1Kwsqpu_5JZ14ASGWnbOCmXTViiHzq84g/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 12</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1kQPotV2amBlsqaa_jVn-9zrbkMriGI6v/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1axH1O_dHjEF8G4hP0N8qouTCSOASdu45/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 13</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1g68_PmNd8J2BEoD2-lmGBsCUCRZee_kb/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1TRxMAqYXago5axhW1suUBX6dULid7ekF/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            <tr>
                <th scope="row">Mission 14</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1NfsSIbRc5uTruaN0jZMd4q2mkTKWfMK4/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Visual <i class="bi bi-box-arrow-up-right"></i></a></td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1n6ZsOpogtohLZUBg6bkf6fXsb5OyODtF/view?usp=drive_link" class="btn bg-fll-red text-white"><i class="bi bi-filetype-pdf"></i> Text Only <i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>