<%-include("ftc_nav.ejs")%>

<div class="position-relative" style="height: 300px">
    <%-include("../components/image_banner", {image: "ftc/IMG_3190.jpg", title: "FIRST Tech Challenge", subtitle: "Ages 14 to 18"})%>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p>FIRST Tech Challenge brings science, technology, engineering, and math (STEM) alive through a dynamic, 
                hands-on approach to robotics. The program challenges students to apply STEM concepts in real-world 
                situations and inspires tomorrow's innovators and entrepreneurs</p>
            <p>Teams design, build, and program their robots to compete on a 12' X 12' field, in 2v2 matches, against 
                other teams. Robots are built from a reusable platform, powered by Android technology, and programmed 
                using blocks or the Java programming language. Teams, including students, coaches, and mentors, are 
                required to develop strategy and build robots based on sound engineering principles, such as rapid 
                prototyping. Awards are earned for the competition, as well as team's community outreach, robot design, 
                and other real-world accomplishments.</p>
        </div>
        <div class="col-md-6">
            <div class="yt-container">
                <iframe src="https://www.youtube.com/embed/-exSmCcoY1E" title="What is FIRST Tech Challenge?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h1 class="fw-bold">FIRST Tech Challenge Requirements</h1>
    <%-include("components/comp_requirement_bar", {title: "ROBOT GAME", text: "Use your robot to score as much points as possible in fast paced 2v2 matches."})%>
    <%-include("components/comp_requirement_bar", {title: "ENGINEERING PORTFOLIO", text: "Create a notebook that showcases your team members and coaches, engineering design process, community outreach and engagement, and budget."})%>
    <%-include("components/comp_requirement_bar", {title: "TEAM INTERVIEW", text: "Your team will prepare a short presentation on your robot design and team organization."})%>
</div>

<div class="container my-5">
    <h1 class="fw-bold">Costs and Funding</h1>
    <p>Our goal is to give every student in the province the opportunity to participate in STEM education. 
        Cost is a major barrier for students across the province and we are committed to reducing costs and 
        providing new and existing teams the resources they need to participate. </p>
    <p>Every team in the province is required to pay a registration fee of $150 CAD. After paying this registration, 
        Levitate Learning will provide you all the resources required for your team to participate in FIRST Tech Challenge 
        in the province. See below for what you will be provided.</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Value</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Newfoundland and Labrador Registration</td>
                <td>$150 CAD</td>
                <td class="fw-bold">$150 CAD</td>
            </tr>
            <tr>
                <td>FIRST Global Registration Fee</td>
                <td>$295 USD</td>
                <td>
                    <p class="fw-bold">$0 CAD</p>
                    <p>(Covered by us)</p>
                </td>
            </tr>
            <tr>
                <td>REV EDU KIT v2</td>
                <td>$1471 CAD</td>
                <td>
                    <p class="fw-bold">$0 CAD</p>
                    <p>(Provided to new teams for free)</p>
                </td>
            </tr>
            <tr>
                <td>*Competition Pieces</td>
                <td>$370 CAD</td>
                <td>
                    <p class="fw-bold">$0 CAD</p>
                    <p>(Provided to all teams for free)</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Total Cost:</td>
                <td>
                    <p class="fw-bold">$150 CAD</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="fst-italic text-center">*We can provide your team some pieces to practice with but not a full competition set.</p>

    <p class="my-5">With your registration fee paid, you're team gets the opportunity to participate in the Newfoundland and Labrador Championship competition in St. John's. We recognize that travel is another barrier for students to participate in programs like this. For teams that require overnight travel to participate, your registration fee will also unlock travel stipends to support getting to the competition.</p>
    <h2>Provided Travel Stipend for Teams</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Distance From St. John's</th>
                <th scope="col">>100km</th>
                <th scope="col">>250km</th>
                <th scope="col">>500km</th>
                <th scope="col">Labrador</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Accomodations</th>
                <td>$700 CAD</td>
                <td>$700 CAD</td>
                <td>$700 CAD</td>
                <td>$700 CAD</td>
            </tr>
            <tr>
                <th scope="row">Transportation</th>
                <td>$200 CAD</td>
                <td>$400 CAD</td>
                <td>$600 CAD</td>
                <td>*$800 CAD per flight ticket</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>$900 CAD</td>
                <td>$1100 CAD</td>
                <td>$1300 CAD</td>
                <td>*$700 CAD + flight allowance</td>
            </tr>
        </tbody>
    </table>
    <p class="fst-italic">*depending on team size, we may not be able to accommodate all flight tickets. We will do our best to provide funding for as many students and coaches as possible.</p>
</div>

<div class="container my-5">
    <h3>Optional Costs</h3>
    
    
</div>